@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Video Rental</h1>
    <p class="lead">Video Rental is an ASP.Net MVC Application That Implements CRUD Operations Using Entity Framework. </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="container summary">

    <h2>Video Rental App :</h2>
    <p>ASP.Net MVC application that use the old video-rental business idea to implement All CRUD Operations.</p>
    <ul>
        <li>MVC</li>
        <li>API</li>
        <li>Entity Framworks</li>
        <li>SQL Server</li>
        <li>Automapper</li>
        <li>DTO</li>
        <li>Authentication and Authorization</li>


    </ul>

</div>        
        
        